.section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: 30px;
}

.comment_section {
    min-width: 150px;
    padding: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.commentSection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}